body{

background:#202124;

color:white;

font-family:Arial;

text-align:center;

margin:40px;

}

.card{

width:260px;

display:inline-block;

padding:20px;

margin:15px;

border-radius:15px;

background:#303134;

}

a{

display:block;

margin-top:10px;

padding:10px;

background:#00aaff;

color:white;

text-decoration:none;

border-radius:10px;

}

a:hover{

background:#0088cc;

}